@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Merriweather:wght@300;900&display=swap');

body {
    background: pink;
    color: #e6e6e6;
    text-align: center;
    margin: 0px 0px 80px 0px;
    
}



#top{
      background-image: url("/img/img_1.jpg");
    
        background-size: cover;  
    padding: 40px 0;
    height: 700px;
}
.fg{
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.75) 75%, rgba(0,0,0,0));
    padding: 0px 0 25px 0;
    margin: 200px 0px;
}
.textbg{
            background-image: linear-gradient(to right, #0D0D0D, #262626 50%, #0D0D0D);
}

.menu1{

    width: 100%;
    height: 8vh;
/*    bottom: 0;*/
    position: fixed;



    
}
.menuBG{
    background-color: black;
        width: 100%;
        position: fixed;
        height: 8vh;
}
ul{
    width: 40%;

    list-style: none;
    padding: 0px;
            margin-left: auto;
    margin-right: 0;
            transition: all 1s;
    
}
li{
    display: inline-block;
    height: 10vh;
    line-height: 5vh;
    font-family: 'Merriweather', serif;
    font-size: 0.75em;
    font-weight: 300;

    
}

a:link, a:visited{
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1.5em;
    transition: color 4s;
}
a:hover{
    transition: color 0.5s;
}
.link1{
        width: 20%;
}
.link1:hover{
    color: #0057ff;
}
.link2{
        width: 20%;
}
.link2:hover{
    color: #283e4a;
}
.link3{
        width: 30%;
}
.link3:hover{
    color: #614e6e;
}
.link4{
        width: 30%;
}
.link4:hover{
    color: #00ffff;
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    width: 80%;
    margin: auto;
    font-size: 8em;
    vertical-align: middle;
    
}
p{
    font-family: 'Heebo', sans-serif;
    padding-top: 30px;
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    text-align: justify;
    transition: all 0.5s;
}

@media (min-width: 1px) and (max-width: 1650px){
    
    ul{
    width: 60%;
        transition: all 1s;
    }
}