@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Merriweather:wght@300;900&display=swap');

::selection {
  background: #346100;
}

body {
    background-image: linear-gradient(to right, black, #0D0D0D 50%, black);
    color: #e6e6e6;
    text-align: center;
    margin: 0px;
    margin-top: 8vh;
    transition: all 1s;
}

/* Nav Menu + ul/li + a */
.navMenuBG {
    background-image: linear-gradient(to right, #1b3300, #346100 50%, #1b3300);
    width: 100%;
    position: fixed;
    height: 8vh;
    margin-top: -8vh;
    border-bottom: solid #0D0D0D;
    border-width: 2px;
    z-index: 1;
    transition: all 1s;
}

.navMenu {
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 2;
    transition: all 1s;
}

ul {
    width: 40%;
    margin: auto;
    list-style: none;
    padding: 0px 5px 0px 0px;
    transition: all 1s;
    margin-top: -8vh;
}

li {
    display: inline-block;
    height: 10vh;
    line-height: 8vh;
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    font-weight: 300;
}

a:link,
a:visited {
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1.5em;
    transition: all 2s;
}

a:hover {
    color: #0D0D0D;
    transition: all 0.5s;
}

.linkS {
    width: 20%;
}

.linkL {
    width: 25%;
}

.linkInsta {
    filter: invert(100%) sepia(0%) saturate(943%) hue-rotate(48deg) brightness(118%) contrast(80%);
    width: 15%;
    max-height: 18px;
    transition: all 0.5s;
}

.linkS:hover,
.linkL:hover {
    color: #0D0D0D;
}

.linkInsta:hover {
    filter: invert(0%) sepia(28%) saturate(3505%) hue-rotate(340deg) brightness(83%) contrast(90%);
}

/* Top Banner + h2 */
.top {

    background: url("/img/img_1.jpg") center center no-repeat;
    background-size: auto 100%;
    padding: 40px 0;
    height: 620px;
}

.banner {
    background-image: linear-gradient(to right, rgba(52, 97, 0, 0.15), rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.8) 80%, rgba(52, 97, 0, 0.15));
    padding: 25px 0 25px 0;
    margin-top: 35px;
    margin-bottom: 0px;
    transition: all 1s;
}

.sprp {
    max-height: 250px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: auto;
    font-size: 8em;
    width: 95%;
    text-shadow: 0px 4px #0D0D0D;
    transition: all 1s;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: auto;
    font-size: 4em;
    width: 95%;
    text-shadow: 0px 4px #0D0D0D;
    transition: all 1s;
}

.greenH2 {
    color: #346100;
    padding-top: 40px;
    text-shadow: 0px 2px #1b3300;
}

/* Black Background */
.blackbg {
    background-image: linear-gradient(to right, black, #0D0D0D 50%, black);
    padding: 50px 0;
}

.whiteButton {
    font-family: 'Merriweather', serif;
    font-size: 0.75em;
    font-weight: 900;
    margin: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #e6e6e6, #DEDEDE 50%, #e6e6e6);
    transition: all 1s;
}

.whiteButton:link,
.whiteButton:visited {
    color: #346100;
}

.whiteButton:hover {
    color: #0D0D0D;
}

.contentButtons {
    display: inline-block;
}

p {
    font-family: 'Heebo', sans-serif;
    padding: 40px;
    font-size: 1.5em;
    width: 60%;
    margin: auto;
    text-align: justify;
    line-height: 1.75em;
    transition: all 1s;
}

/* White Background */
.whiteBG {
    background-image: linear-gradient(to right, #DEDEDE, #e6e6e6 50%, #DEDEDE);
}


.whiteP {
    color: #0D0D0D;
}

/* Footer */
.footerBG {
    background-image: linear-gradient(to right, #1b3300, #346100 50%, #1b3300);
    padding: 30px 5px;
}

h3 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    padding-bottom: 10px;
    margin: auto;
    font-size: 2.5em;
    width: 95%;
    text-shadow: 0px 1px #0D0D0D;
    transition: all 1s;
}

.footerButtons {
    display: inline;
}

a.footer {
    font-size: 1em;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    transition: all 1s;
}

/* Tablet */
@media (min-width: 1px) and (max-width: 1564px) {

    .banner {
        margin: 10px 0px;
        transition: all 1s;
    }
    
    .sprp {
        max-height: 150px;
    }
    
    .whiteButton {
        display: block;
        transition: all 1s;

    }

    ul {
        width: 70%;
        transition: all 1s;
    }
}

@media (min-width: 1px) and (max-width: 1100px) {
    .banner {
        margin: 80px 0px;
        transition: all 1s;
    }

    h1 {
        font-size: 5em;
        transition: all 1s;
    }

    h2 {
        font-size: 2.5em;
        transition: all 1s;
    }

    h3 {
        font-size: 2em;
        transition: all 1s;
    }
}

/* Mobile */
@media (min-width: 1px) and (max-width: 900px) {
    body {
        margin-top: 0vh;
        margin-bottom: 8vh;
        transition: all 1s;
    }

    .navMenu {
        width: 100%;
        height: 8vh;
        bottom: 0;
        position: fixed;
        margin-bottom: -8vh;
        transition: all 1s;

    }

    .navMenuBG {
        width: 100%;
        position: fixed;
        height: 8vh;
        bottom: 0;
        border-bottom: none;
        border-top: solid #0D0D0D;
        border-width: 2px;
        transition: all 1s;
    }

    .linkS {
        width: 15%;
        transition: all 1s;
    }

    .linkL {
        width: 34%;
        transition: all 1s;
    }

    .linkInsta {
        width: 15%;
        max-height: 14px;
    }

    .banner {
        margin: 5px 0px;
        transition: all 1s;
    }

    a.footer {
        font-size: 0.65em;
        transition: all 1s;
    }

    ul {
        width: 95%;
        padding: 0px;
        transition: all 1s;
    }

    li {
        font-size: 0.65em;
        transition: all 1s;
    }

    p {
        padding: 40px 0px;
        font-size: 1.25em;
        width: 90%;
        line-height: 1.5em;
        transition: all 1s;
    }
}