@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Merriweather:wght@300;900&display=swap');

body {
  background-image: linear-gradient(to right, black, #0D0D0D 50%, black);
    color: #e6e6e6;
    text-align: center;
    margin: 0px;
    margin-top: 8vh;
      transition: all 1s;
}
#top{
      
    background: url("/img/img_1.jpg") center center no-repeat;  
    background-size: auto 100%;
    padding: 40px 0;
    height: 620px;
    
}
.fg{
    background-image: linear-gradient(to right, rgba(52,97,0,0.15), rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.8) 80%, rgba(52,97,0,0.15));
    padding: 25px 0 25px 0;
    margin: 175px 0px;
            transition: all 1s;
}
.textbg{
            background-image: linear-gradient(to right, black, #0D0D0D 50%, black);
    padding-top: 50px;
}

.menu1{

    width: 100%;
    height: 8vh;
    position: fixed;
        z-index: 2;
    
         transition: all 1s;


    
}
.menuBG{
            background-image: linear-gradient(to right, black, #0D0D0D 50%, black);
        width: 100%;
        position: fixed;
        height: 8vh;
    margin-top: -8vh;
    border-bottom: solid #DEDEDE;
border-width: 2px;
    z-index: 1;
             transition: all 1s;
}
ul{
    width: 40%;
margin: auto;
    list-style: none;
    padding: 0px 25px 0px 0px;
            transition: all 1s;
        margin-top: -8vh;
  
    
}
li{
    display: inline-block;
    height: 10vh;
    line-height: 8vh;
    font-family: 'Merriweather', serif;
    font-size: 0.75em;
    font-weight: 300;
    

    
}

a:link, a:visited{
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1.5em;
    transition: all 2s;
    
}
a:hover{
    transition: all 0.5s;
}
.linkS{
        width: 20%;

                transition: all 1s;
}
.linkL{
        width: 30%;
          transition: all 1s;
}
.linkS:hover, .linkL:hover{
    color: #346100;
}


.cta{
        font-family: 'Merriweather', serif;
    font-size: 0.75em;
    font-weight: 900;
    margin: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #DEDEDE, #e6e6e6 50%, #DEDEDE);
            transition: all 1s;
}
.cta:link, .cta:visited{
    color: #0D0D0D;
}
.cta:hover{
    color: #346100;
}
h1{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: auto;
    font-size: 8em;
    width: 95%;
            transition: all 1s;
}

h2{
        font-family: 'Merriweather', serif;
    font-weight: 900;

    margin: auto;
    font-size: 4em;
        width: 95%;
            transition: all 1s;
}

.menu2{

    display: inline-block;
        
}
p{
    font-family: 'Heebo', sans-serif;
    padding: 40px;
    font-size: 1.5em;
    width: 60%;
    margin: auto;
    text-align: justify;
    transition: all 1s;
    line-height: 1.75em;
             transition: all 1s;
}

.safetybg{
     background-image: linear-gradient(to right, #DEDEDE, #e6e6e6 50%, #DEDEDE);
}

.safetyH2{
      color: #0D0D0D;
    padding-top: 40px;
}
.safetyP{
    color: #0D0D0D;
}

@media (min-width: 1px) and (max-width: 1564px){
    
    .fg{
    margin: 85px 0px;
                transition: all 1s;
}
    
    ul{
    width: 70%;
        transition: all 1s;
    }
    .cta{

    display: block;
        transition: all 1s;
        
}
}
@media (min-width: 1px) and (max-width: 1100px){
    h1{
        font-size: 5em;
                transition: all 1s;
    }
    h2{
        font-size: 2.5em;
                transition: all 1s;
    }
        .fg{
    margin: 150px 0px;
                transition: all 1s;
}
}
@media (min-width: 1px) and (max-width: 900px){
    body{
            margin-top: 0vh;
        margin-bottom: 8vh;
          transition: all 1s;
    }
.menu1{

    width: 100%;
    height: 8vh;
    bottom: 0;
    position: fixed;
        margin-bottom: -8vh;
             transition: all 1s;

}
    
    .menuBG{
        width: 100%;
        position: fixed;
        height: 8vh;
            bottom: 0;
      border-bottom: none;
          border-top: solid #DEDEDE;
                 transition: all 1s;
}
    li{
   
    font-size: 0.6em;
         transition: all 1s;

    

    
}
    .linkS{
        width: 16%;

                transition: all 1s;
}
.linkL{
        width: 34%;
          transition: all 1s;
}
        ul{
    width: 95%;
        transition: all 1s;
    }
            .fg{
    margin: 90px 0px;
                transition: all 1s;
}
    p{
    padding: 40px 0px;
    font-size: 1.25em;
    width: 90%;
    transition: all 1s;
    line-height: 1.5em; 
                 transition: all 1s;
    }
}